@{
    Layout = "_Layout.cshtml";
}

<div id="post">
    <div class="post-header">
        @Html.Partial("_PostHeader.cshtml")
    </div>

    <div id="post-content">
        @RenderBody()
    </div>

    <div id="post-footer">
        @Html.Partial("_PostFooter.cshtml")
    </div>
</div>







