<h2>Patrick van der Velde</h2>

<p>
    <img src="http://www.gravatar.com/avatar/9bc8b3ff385cd14f2b12138c97729df2?s=160" alt="Gravatar for Patrick van der Velde">
</p>
<p>
    Dutch software developer, living, working and playing in New Zealand.
    Rock climber, and paragliding pilot. Developer of
    <a href="http://nbuildkit.github.io/nBuildKit.MsBuild/">nBuildKit</a>,
    <a href="https://github.com/Calvinverse">the Calvinverse resources</a> and other projects
</p>
<p>
    <a href="/about.html">More ...</a>
</p>
