<h2>Patrick van der Velde</h2>

<p>
    <img src="https://www.gravatar.com/avatar/9bc8b3ff385cd14f2b12138c97729df2?s=160"
        alt="Gravatar for Patrick van der Velde">
</p>
<p>
    Dutch software developer who is living, working and playing in New Zealand.
    Rock climber and wood worker. Developer of the
    <a href="https://github.com/pvandervelde?tab=repositories&q=zinger">Zinger robot</a>
    and other projects.
</p>
<p>
    <a href="/about.html">More ...</a>
</p>
