<h2>Patrick van der Velde</h2>

<p>
    <img src="https://www.gravatar.com/avatar/9bc8b3ff385cd14f2b12138c97729df2?s=160"
        alt="Gravatar for Patrick van der Velde">
</p>
<p>
    I am a senior lead software engineer who is living, working and playing in New Zealand.
    Developer of the <a href="/tags/Zinger">Zinger robot</a>, contributor on the
    <a href="/tags/Scuttle">Scuttle project</a>.

    In my spare time wood worker, rock climber, gardner.
</p>
<p>
    <a href="/about.html">More ...</a>
</p>
